.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-container {
  width: 100%;
  /* border: 5px solid red; */
  /* padding: 10px 30px; */
  background-color: #f4f4f4;
  margin-top: 5%;
}

.heading {
  width: 100%;
  font-family: "Roboto";
  /* border: 1px solid black; */
  justify-content: flex-start;
  padding: 20px;
  background-color: #ebebeb;
}

.trend-icon {
  width: 70px;
  height: 70px;
  background-color: #cbd5e1;
  border-radius: 50%;
  /* padding: 10px; */
  font-size: 40px;
  color: #ff0000;
}

.heading h1 {
  font-weight: 800;
  margin-left: 20px;
}

.video-container {
  align-items: flex-start;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
}
.video-container::-webkit-scrollbar {
  display: none;
}

.video-item {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 20px 0px;
}

.video-item img {
  width: 300px;
  margin-right: 20px;
}

.trending-container.dark .heading {
  background-color: #0f0f0f;
  color: #ffffff;
}

.trending-container.dark .trend-icon {
  background-color: #0f0f0f;
}

.trending-container.dark .video-container {
  background-color: #0f0f0f;
}

.trending-container.dark .video-container .video-details {
  color: #ffffff;
}

.trending-container.dark .video-container .video-details p {
  color: #647488;
}
